body{
    margin: 0;
    padding: 0;
}

.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(16, 20, 228, 0.675));
}

.title{
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
    justify-content: space-between;
}
.title span{
    display: flex;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid rgba(16, 20, 228, 0.675);
}
.botao-voltar input{
    margin-right: 8px;
    width: 16vh;
    border: 1px solid rgba(16, 20, 228, 0.675);
}

.botao-voltar input:hover{
    border: 1px solid white;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.903);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}

.login-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.login-body{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 80%;
}
.login-body form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn-dark{
    margin-top: 15px;
}
.btn:hover{
    border: 1px solid white;
}

.login-body a{
    text-decoration: none;
    color: black;
}