body{
    margin: 0;
    padding: 0;    
    background-color: #d5dadfb7;
    font-family: sans-serif;
    color: #59429d;
}

.titulo{
    margin-left: 36%;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

/* Elementos de tag <fieldset>*/
form {
    margin-left: 40%;
    margin-top: 5%;
}

input{
    margin-bottom: 13px;
    border-radius: 10px;
    font-size: 1em;
    color: #59429d;
    font-family:Arial, Helvetica, sans-serif;    
    padding: 0.3em 2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 30px;
    margin-left: 200px;
}

.btn-home{
    font-size: 1.2em;
    color: #ffffff;
    background-color: #59429d;
    border: 0;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-left: 0px;
    cursor: pointer;
}

.btn-enviar {
    font-size: 1.2em;
    background-color: #59429d;
    border: 0;
    color: #ffffff;
    padding: 0.6em 2.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 57%;
    left: 39%;
    cursor: pointer;
}

.btn-criar{
    font-size: 1.2em;
    background-color: #59429d;
    border: 0;
    color: #ffffff;
    padding: 0.6em 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 57%;
    left: 41%;
    border-radius: 10px;
    cursor: pointer;
}

.Email{
    margin-left: 30px;
}

.Senha{
    margin-left: 25px;
}
